html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

$breakpoint-tablette: 768px;
$breakpoint-desktop: 1124px;
$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;

@import "footerstyle";

@keyframes scaleDown {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hidebackground {
  0% {
    z-index: 100;
  }
  99% {
    z-index: 100;
  }
  100% {
    z-index: -12;
    visibility: hidden;
  }
}
.spin-container {
  text-align: center;
  padding-top: 300px;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: #fff;
  animation: hidebackground 3s forwards;
}
.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: ($couleur-primaire);
  position: relative;
  -webkit-animation: 1.2s scaleDown ease-in-out infinite;
  animation: 1.2s scaleDown ease-in-out infinite;
  &:nth-child(2) {
    background-color: ($couleur-secondaire);
    margin: 0 15px;
    -webkit-animation: 1.2s scaleDown ease-in-out infinite 0.15555s;
    animation: 1.2s scaleDown ease-in-out infinite 0.15555s;
  }
  &:nth-child(3) {
    background-color: ($couleur-tertiaire);
    -webkit-animation: 1.2s scaleDown ease-in-out infinite 0.3s;
    animation: 1.2s scaleDown ease-in-out infinite 0.3s;
  }
}

header {
  font-family: "Shrikhand";
  background-color: #ffffff;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 4rem;
  }
}

.adresse {
  background-color: #eaeaea;
  color: #4d4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 7px -7px black;
  font-size: 0.85em;
  font-weight: 100;
  i {
    padding-right: 20px;
    font-size: 1.25rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;

  h2 {
    padding: 35px 0 0 0;
    font-size: x-large;
    font-weight: 700;
    width: 75%;
    margin: 0;
  }
  p {
    font-weight: 300;
    font-size: large;
    padding: 20px 0 0 0;
    margin: 0;
  }

  a {
    margin-top: 28px;
    margin-bottom: 60px;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    background: ($couleur-primaire);
    background: linear-gradient(
      353deg,
      ($couleur-primaire) 0%,
      ($couleur-secondaire) 80%
    );
    box-shadow: 0px 6px 7px 1px #c4c4c4;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: column;

  h2 {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 30px 10px;
  }

  .fcartebox {
    width: 100%;
    display: grid;
  }

  .fcarte {
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 3px 7px 2px #dbdbdb;
    height: 70px;
    font-weight: 500;

    i {
      color: #4d4d4d;
      margin: 0 30px;
      font-size: 1rem;
    }

    .nombre {
      background-color: ($couleur-primaire);
      border-radius: 100%;
      color: white;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: small;
      margin-left: -10px;
    }
  }
}

.fcarte:hover {
  background-color: #eddffd;
  color: $couleur-primaire;
  i {
    color: $couleur-primaire;
  }
}

#restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 15px;
  }

  .carterestaurant {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 250px;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 3px 7px 2px #dbdbdb;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .nouveau {
      background-color: #99e2d0;
      border-radius: 2px;
      height: 30px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.85em;
      font-weight: bold;
      color: #46917f;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    img {
      object-fit: cover;
      height: 70%;
      width: auto;
    }
    .cartetexte {
      display: grid;
      grid-template-columns: 1.6fr 0.4fr;
      grid-template-rows: 50px;

      h3 {
        margin: 10px 0 0 10px;
        grid-area: 1 / 1 / 2 / 3;
      }
      p {
        margin: 40px 0 0 10px;
        grid-area: 1 / 1 / 2 / 3;
      }
      i {
        grid-area: 1 / 2 / 2 / 3;
        font-size: 1.6em;
        display: flex;
        justify-content: center;
        margin-top: 25px;
        position: absolute;
        right: 40px;
      }
      i:hover {
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        transition: all 0.8s linear;
        font-weight: 800;
      }
    }
  }
}

@media (min-width: $breakpoint-tablette) {
  .fonctionnement {
    justify-items: center;
    display: grid;

    h2 {
      justify-content: center;
    }

    .fcartebox {
      justify-content: center;
    }
    .fcarte {
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  html {
    width: unset;
  }

  .fonctionnement {
    justify-items: center;
    display: flex;

    h2 {
      justify-content: center;
    }

    .fcartebox {
      display: flex;

      .fcarte {
        width: 17%;
      }
    }
  }

  #restaurants {
    display: grid;
    justify-items: center;

    .carterestaurant {
      width: 60%;
      height: 500px;

      .carteimage {
        height: 85%;
      }

      .nouveau {
        height: 60px;
        width: 200px;
      }
    }
  }
}
