html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

footer h3 {
  margin: 15px auto 15px 15px;
  font-family: "Shrikhand";
  color: white;
  font-weight: 300;
}

footer .footerlien {
  padding: 5px 0 5px 25px;
}

footer .footerlien a,
footer .footerlien i {
  color: white;
  padding-right: 5px;
}

header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

header h1 {
  font-family: "Shrikhand";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

header a {
  display: inline-block;
  position: fixed;
  left: 2%;
  color: #4d4d4d;
  font-size: 1.25rem;
  margin: 0 4rem 0 1rem;
}

img.bgimage {
  width: 100%;
  top: 5em;
  position: fixed;
  left: 0;
  z-index: -1;
}

body {
  margin: 0;
}

main {
  width: 100%;
  margin-top: 70%;
  background-color: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding-bottom: 6rem;
}

main .titremain {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1rem 0 0 1rem;
  width: 100%;
}

main .titremain h2 {
  font-family: "Shrikhand";
  font-size: 1.75rem;
}

main .titremain i {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
  margin-right: 10%;
  margin-left: auto;
}

main .titremain i:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  font-weight: 800;
}

main section.menu {
  padding: 0 1rem 0 1rem;
}

main section.menu h3 {
  color: #4d4d4d;
  font-weight: 400;
  margin-top: 3rem;
}

main section.menu h3:after {
  content: "";
  z-index: 0;
  position: relative;
  height: 5px;
  width: 50px;
  border-bottom: 3px solid #99E2d0;
  display: block;
}

main section.menu .cartemenu {
  background-color: white;
  border-radius: 1rem;
  height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 0.4fr 0;
      grid-template-columns: 1.6fr 0.4fr 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0 1rem 0;
  -webkit-box-shadow: 0px 3px 7px 2px #dbdbdb;
          box-shadow: 0px 3px 7px 2px #dbdbdb;
  -webkit-animation: platstranslate 1.2s linear;
          animation: platstranslate 1.2s linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes platstranslate {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes platstranslate {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

main section.menu .cartemenu h4 {
  font-size: 1.1rem;
  margin: 1rem 0 0 1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main section.menu .cartemenu p.cartedetail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
  margin: 0 0 0 1rem;
  font-weight: 300;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main section.menu .cartemenu p.carteprix {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
  margin: 0 20px 0 1.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  color: #4d4d4d;
}

main section.menu .cartemenu .validation {
  display: -ms-grid;
  display: grid;
  background-color: #99E2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / 3 / 3;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

main section.menu .cartemenu .validation i {
  color: white;
}

main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem auto 0 auto;
  color: white;
  padding: 15px 50px;
  border-radius: 30px;
  background: linear-gradient(353deg, #9356DC 0%, #FF79DA 80%);
  -webkit-box-shadow: 0px 6px 7px 1px #c4c4c4;
          box-shadow: 0px 6px 7px 1px #c4c4c4;
  max-width: 15rem;
}

@media (min-width: 1124px) {
  img.bgimage {
    height: unset;
  }
  main {
    width: 60%;
    margin: 20% auto 0 auto;
  }
  main .titremain h2 {
    margin-left: 30px;
  }
  main .titremain i {
    font-size: 40px;
  }
  main section.menu {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.menu .cartemenu {
    width: 80%;
  }
  main section.menu h3 {
    font-size: 30px;
  }
  main section.menu h3::after {
    width: 100%;
  }
}

@media (min-width: 768px) {
  main .titremain h2 {
    margin-left: 30px;
  }
  main .titremain i {
    font-size: 30px;
  }
}
/*# sourceMappingURL=menustyle.css.map */